/* ++++++++++++++++ For Mobile ++++++++++++++++ */

.sticky_nav {
    display: none;
    justify-content: space-around;
    background-color: #fff;
    padding: 12px;
    position: fixed;
    bottom: 0;
    max-width: 480px;
    box-shadow: -1px 1px 25px 5px rgb(0 0 0 / 15%);
    z-index: 9999;
    width: 100%;
}

.sticky_nav>.nav-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333 !important;
    padding: 12px 16px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sticky_nav>.nav-item img {
    width: 24px;
}

.sticky_nav>.nav-item span {
    width: max-content;
    overflow: visible;
    font-size: 12px;
}

.sticky_nav>.nav-item:focus {
    text-decoration: none;
    color: #333 !important;
    background-color: rgb(194 224 235 / 32%);
    transition: .2s;
    font-size: 13px;
    font-weight: 400;
}

.sticky_nav>.nav-item:focus span {
    width: 100%;
    margin-left: 8px;
    transition: .2s;
}

*:focus {
    outline: none;
    border: none;
}

@media (min-width:320px) and (max-width:640px) {
    body {
        /* background-color: #f5fafc; */
        padding-bottom: 40px;
    }


    .home_blogArea ul {
        display: flex;
        column-gap: 35px;
        padding-top: 35px;
        flex-direction: column;
    }
    .home_blogArea ul li {
        margin-bottom: 20px;
    }

    .sticky_nav {
        display: flex;
    }

    .heroSection {
        min-height: auto;
        padding: 30px 0 20px;
        background: none;
        height: auto;
        margin: 0;
    }

    .heroSection .heroContent .topArea .left .pointsArea ul li {
        display: flex;
        align-items: center;
        column-gap: 9px;
        flex-direction: column;
        flex: 1;
    }

    .heroSection .heroContent .topArea .left .pointsArea ul li h3 {
        text-align: center;
    }

    .heroSection .heroContent .topArea .left h1 {
        font-size: 19px;
        padding-right: 0;
        text-align: center;
        font-weight: 400;
    }

    .header-form-area {
        margin-top: 28px;
    }

    .heroSection .heroContent .topArea .img-box {
        display: none;
    }

    .header-form-area ul.nav-tabs li button.nav-link {
        font-weight: 600;
        font-size: 12px;
        padding: 9px 10px;
        border-radius: 4px;
    }

    .header-form-area .loan-form-area {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        column-gap: 0;
    }

    .header-form-area .loanType {
        flex: 0 0 48%;
        margin-bottom: 11px;
    }

    .header-form-area .tab-content {
        height: auto;
    }

    .header-form-area .search-button {
        width: 100%;
    }

    section.testimonial_Area {
        display: none;
    }

    .testimaolSlider {
        display: none;
    }

    .testimaolSlider ul {
        overflow: scroll;
    }

    .testimaolSlider li {
        max-width: 100%;
        width: 100%;
    }

    .getApp {
        height: auto;
        margin-top: 0;
    }

    .getApp .left {
        max-width: 100%;
        overflow: hidden;
        padding: 30px;
        font-size: 32px;
    }

    .getApp .right {
        display: none;
    }

    .buttonArea img {
        height: 40px;
    }

    .getApp .left::after,
    .getApp .left::before {
        display: none;
    }

    .footerNav {
        flex-wrap: wrap;
    }

    .footerNav ul {
        max-width: 100%;
        padding: 20px 10px;
        flex: auto;
    }

    .footerContentArea {
        flex-direction: column;
    }

    .footerContentArea .subscribeArea {
        padding: 35px 10px 0;
    }

    .fot-top-bar {
        height: auto;
    }

    .fot-top-bar .innerBar {
        flex-direction: column-reverse;
    }

    .fot-top-bar .socialArea {
        column-gap: 5px;
        margin: 0;
    }

    .fot-top-bar .socialArea ul.socialIcon li a {
        padding: 0 12px;
        font-size: 21px;
    }

    .fot-top-bar .socialArea .emailBox {
        padding: 0 10px;
        font-size: 14px;
        flex: 1;
        min-height: 57px;
    }

    .fot-top-bar .socialArea .emailBox i {
        font-size: 20px;
        margin-right: 5px;
    }

    .footerMenu-Btn {
        border-width: 1px 1px 0 1px;
        padding: 13px 25px;
        font-size: 15px;
        width: 100%;
        text-align: left;
    }

    .footerMenu-Btn i {
        margin-left: 10px;
        float: right;
        margin-top: 4px;
    }

    .footer-card-area {
        flex-direction: column;
        row-gap: 20px;
    }

    /* inner Pages css */

    .content_with_img_section {
        flex-direction: column;
    }

    .content_with_img_section .content_box {
        width: 100%;
    }

    .content_with_img_section .img_box {
        display: none;
    }

    .content_section,
    .content_with_img_section {
        padding: 15px 0;
    }

    table.table_cards_Table {
        margin-top: 15px;
    }

    .content_section h2 {
        width: 100%;
        font-size: 21px;
    }

    .city__Section {
        padding: 20px 0;
    }

    .city__Section h2 {
        font-size: 22px;
    }

    .city__Section p {
        font-size: 18px;
    }

    .city__Section .city_container .inner_box {
        width: 33%;
    }

    .city__Section .city_container .city_box .icon-box img {
        height: 50px;
        width: auto;
    }

    .city__Section .city_container .city_box {
        height: 110px;
    }

    .city__Section .city_container .city_box .icon-title {
        font-size: 11px;
    }

    .detail_card_Area {
        flex-direction: column;
    }

    .detail_card_Area .detail_card {
        padding: 20px;
        border-radius: 10px;
    }

    .detail_card_Area .detail_card h2 {
        font-size: 24px;
    }

    .detail_card_Area .detail_card .img_pnl img {
        height: 220px;
    }

    .detail_card_Area {
        row-gap: 20px;
    }

    .faqSetion .faq_row {
        flex-direction: column-reverse;
    }

    .faqSetion .faqAccordion {
        width: 100%;
    }

    .faqSetion .faqImg {
        width: 100%;
        text-align: center;
        padding-bottom: 10px;
    }

    .faqSetion .faqImg img {
        width: auto;
        height: 110px;
        margin-top: -20px;
    }

    #loanForm_container .form_cont,
    #loanForm_container .fld_area {
        flex-direction: column;
    }

    #loanForm_container .detail_area {
        margin-top: 20px;
    }

    .card_content_pnl {
        row-gap: 35px;
    }

    .card_content_pnl .cnt_pnl .content_box {
        padding: 20px;
    }

    .card_content_pnl .cnt_pnl .content_box h2 {
        font-size: 21px;
    }

    .card_content_pnl .cnt_pnl {
        flex-direction: column;
    }

    .card_content_pnl .cnt_pnl .mobile_frame,
    .card_content_pnl .cnt_pnl:nth-child(even) .mobile_frame {
        background-image: none;
        padding: 20px 10px;
        margin: 0;
        width: 100%;
        height: auto;
        justify-content: center;
        box-sizing: border-box;
        align-items: flex-end;
    }

    .card_content_pnl .cnt_pnl:nth-child(even) {
        flex-direction: column;
        justify-content: center;
    }

    .innerHeader .innerTab_head .nav-tabs {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        max-width: max-content;
        overflow: scroll;
    }

    .apply-card-bg .stepRow ul,
    .reward_Area {
        flex-direction: column;
        row-gap: 10px;
    }

    .apply_loan_form_area .innerContainer .formPnl .form_row {
        flex-direction: column;
        row-gap: 10px;
    }

    .apply_loan_form_area {
        padding: 20px 0;
    }

    .apply_loan_form_area .innerContainer>* {
        width: 100% !important;
    }

    .apply_loan_form_area .innerContainer {
        flex-direction: column;
    }

    .apply_loan_form_area .innerContainer .formPnl {
        padding: 10px 0 10px;
    }

    .date_MainPnl input {
        width: 100%;
    }

    .apply_loan_form_area .innerContainer {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .apply_loan_form_area .innerContainer:last-child {
        margin-bottom: 0px;
    }

    .about_container .about_inner {
        flex-direction: column;
    }

    .about_container .about_inner>* {
        width: 100% !important;
    }

    .about_container .about_inner .left_col h2 {
        font-size: 21px;
        padding-bottom: 15px;
    }

    .about_container .about_inner .join_col {
        margin-top: 20px;
    }

    .vision_section .inner_col {
        padding-bottom: 20px;
    }

    .vision_section {
        flex-direction: column;
    }

    .vision_section .inner_col h2 {
        font-weight: 500;
        margin-bottom: 10px;
        font-size: 21px;
    }

    .values_section .imgPnl {
        display: none;
    }

    .values_section .contentPnl {
        word-break: break-all;
        width: 100%;
    }

    .activities_section h2 {
        font-size: 24px;
        text-align: center;
    }

    .activities_section h2 {
        font-size: 18px;
    }

    .activities_section p {
        font-size: 19px;
        font-weight: 400;
        letter-spacing: 0;
        padding-top: 7px;
    }

    .activities_section .activities_row {
        flex-direction: column;
        padding: 25px 0 0;
    }

    .activities_section .activities_row>* {
        width: 100% !important;
    }

    .activities_section .activities_row .activities_col h2 {
        font-size: 16px;
    }

    .activities_section .activities_row .activities_col h2 span {
        max-width: 40px;
        width: 100%;
        height: 40px;
        font-size: 17px;
        font-weight: 700;
        color: #fff;
        line-height: 42px;
        margin-right: 10px;
    }

    .activities_section .activities_row .activities_col ul {
        margin: 10px 0 0 67px;
    }

    .activities_section .activities_row .activities_col li {
        font-size: 14px;
        padding: 2px 0;
    }

    .activities_section .activities_row .activities_col p {
        font-size: 16px;
        padding: 10px 0 0 50px;
    }

    .activities_section .activities_row .activities_col {
        padding-bottom: 30px;
    }

    .activities_section .activities_row .activities_col:last-child {
        padding-bottom: 0 !important
    }

    .benefits_area h2 {
        font-size: 25px;
    }

    .benefits_area .benefitBox {
        width: 100%;
        flex-direction: column;
    }

    .benefitBox .imgPnl {
        height: 230px;
    }

    .benefits_area .benefitBox .contentPnl {
        width: 100%;
        margin-top: 20px;
    }

    .contact_container .contact_inner h2 {
        width: 100%;
        font-size: 24px;
    }

    .contactPnl {
        flex-direction: column;
        row-gap: 20px;
    }

    .contactPnl .topSection {
        width: 100%;
        height: 115px;
    }

    .contact_map_area {
        row-gap: 20px;
        flex-direction: column;
    }

    .contact_map_area>* {
        width: 100% !important;
    }

    .cardOffer_area,
    .cardOffer_area .cardlist-Pnl .lstRow .topPnl {
        display: block;
    }

    .cardOffer_area .cardlist-Pnl .lstRow .topPnl .cardImg {
        max-width: 100%;
        margin-bottom: 10px;
    }

    .cardOffer_area .cardlist-Pnl .lstRow .actionPnl {
        align-items: baseline;
        flex-wrap: wrap;
    }

    .cardOffer_area .cardlist-Pnl .lstRow .actionPnl .actBtnArea {
        display: flex;
        margin-left: 0;
        column-gap: 10px;
        width: 100%;
        justify-content: space-between;
        padding-top: 10px;
    }

    .grabDeal_header .headingArea {
        display: block;
        width: 100%;
    }

    .grabDeal_header .headingArea .leftCol {
        display: inline-block;
    }

   
    footer .footerWrapper {
        display: none;
    }

    .heroSection .heroContent .headMain_carousel ul.slick-dots {
        width: fit-content;
        right: 0;
        left: 0;
        margin: auto;
        bottom: -45px;
        height: 50px;
    }

    .servicesBanner__Section ul {
        display: inline-block;
        width: 100%;
        max-width: 480px;
    }

    .servicesBanner__Section ul li {
        margin-bottom: 12px;
    }

    .servicesBanner__Section ul li a {
        justify-content: space-between;
    }

    .applyLoans__Section {
        flex-direction: column;
    }

    .applyLoans__Section .loanCol ul.iconPnl {
        padding-bottom: 20px;
    }

    .applyLoans__Section .loanCol ul.iconPnl li {
        flex: 0 0 31%;
        margin-top: 10px;
    }

    .applyService_Area {
        flex-direction: column;
    }

    .applyService_Area .cardContainer {
        max-width: 100%;
        margin-bottom: 12px;
    }

    /* financiallyArea */

    .financiallyArea {
        padding: 0;
    }

    .applyService_Area {
        padding-top: 20px;
    }

    .financiallyArea .item_pnl {
        flex-direction: column;
        row-gap: 30px;
    }

    .financiallyArea .item_pnl .item_col .item-img {
        margin-right: 20px;
    }

    .financiallyArea .item_pnl .item_col .item-img img {
        max-height: 50px;
        width: auto;
    }

    .applyService_Area .cardContainer .iconPnl {
        column-gap: 5px;
    }

    .cardOffer_area .dealStep__leftArea {
        max-width: 100%;
    }

    .home_blogArea .blog_dis_area{
        margin-bottom: 20px;
    }


}


/* ++++++++++++++++ For ipad ++++++++++++++++ */

@media (min-width:992px) and (max-width:1440px) {}


/* ++++++++++++++++ For ipad ++++++++++++++++ */

@media (max-width:992px) {}

@media (min-width:768px) and (max-width:1200px) {}


/* new design css */

@media (min-width:320px) and (max-width:640px) {}


/* new table_with_img_content css */
.table_with_img_content{
    width: 100%;
    padding: 30px 0;
    display: flex;
    column-gap: 40px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}
.table_with_img_content img {
    max-width: 30%;
    height: auto;
    object-fit: contain;
}

.table_with_img_content .editor__contentBox {
width: 100%;
font-family: 'Poppins', sans-serif;

}


.table_with_img_content h1, .table_with_img_content .editor__contentBox h1 {
    font-size: 35px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table_with_img_content h2, .table_with_img_content .editor__contentBox h2 {
    font-size: 24px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table_with_img_content h3, .table_with_img_content .editor__contentBox h3 {
    font-size: 21px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}
.table_with_img_content h4, .table_with_img_content .editor__contentBox h4 {
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table_with_img_content > .editor__contentBox h2, .table_with_img_content > .editor__contentBox p, .table_with_img_content > .editor__contentBox ul {
    padding-top: 22px;
}

.table_with_img_content p+p {
    padding-top: 10px;
    margin: 0;
}

.table_with_img_content > .editor__contentBox li{
    padding-top: 7px;
    padding-bottom: 7px;
}



.table_with_img_content table{
    margin-top: 10px;
    width: 100%;
    background: #fff;
}


.table_with_img_content thead, .table_with_img_content th {
    background: #6824cf;
    color: #fff;
    font-weight: 600;
}

.table_with_img_content thead tr, .table_with_img_content  th {
padding: 8px 8px;
}

.table_with_img_content tr:nth-child(even) {
    background-color: #f3f8ff;
}